# IDE
/.idea/

# doc generators
.main-readme-docs.sh
.render-*-docs.sh

# Folder and files for diffrent scratches, not to commit
/_dont_commit/
*._dont_commit.*

# Symlinks to folders in home
/bin-private
/bin-private-test
/sbin-private
/sbin-private-test
/executable-private/
/semantic-version.php

# victim folders and files are for testing and should be commited
# They can be deleted or pruned withot warning any time...
/victim/
